<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
<property name="hibernate.connection.username">root</property>
<property name="hibernate.connection.password"></property>
<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/myplsDB</property>
<property name="show_sql">true</property>
<property name="format_sql">false</property>
<mapping class="com.mypls.model.User"/>
<mapping class="com.mypls.model.Course"/>
<mapping class="com.mypls.model.Access_Control_List"/>
<mapping class="com.mypls.model.Professor_Course"/>
<mapping class="com.mypls.model.Course_Dependency"/>
<mapping class="com.mypls.model.Course_Feedback"/>
<mapping class="com.mypls.model.Lesson"/>
<mapping class="com.mypls.model.Course_Week"/>
<mapping class="com.mypls.model.Quiz"/>
<mapping class="com.mypls.model.Quiz_Questions"/>
<mapping class="com.mypls.model.Quiz_Options"/>




</session-factory>

</hibernate-configuration>